


@model IEnumerable<WhenWeGetMoney.Models.Wish>

@using Microsoft.AspNet.Identity

<div class="table-center myTable">

    <table table-center myTable>
        <tr>
            <th class="text-center">Wish</th>
            <th class="text-center">Cost</th>

        </tr>

        @foreach (var wish in ViewBag.Bought)
        {
            <tr>
                @*<td class="text-center wishToDelete">@Wish.Date.ToString("MMM dd yy")</td>*@
                <td class="text-center">@wish.Content</td>
                <td class="text-center">@wish.Cost</td>

                @*<td class="text-center wishToDelete">@Wish.Cost</td>*@
            </tr>
        }
    </table>
</div>
