@model IEnumerable<WhenWeGetMoney.Models.Wish>


@{
    Layout = "~/Views/Shared/_WhenWeGetMoney.cshtml";
}

<h1>Bought It</h1>


<div table-center>
    <table class="myTable">
        <tr>
            <th class="text-center">Date Added</th>
            <th class="text-center">Wish</th>
            <th class="text-center">Cost</th>

        </tr>

        @foreach (var Wish in Model)
        {
            <tr>
                <td class="text-center wishToDelete">@Wish.Date.ToString("MMM dd yy")</td>
                <td class="text-center wishToDelete">@Wish.Content</td>
                <td class="text-center wishToDelete">@Wish.Cost</td>
            </tr>
        }
    </table>
</div>





