
@model IEnumerable<WhenWeGetMoney.Models.Wish>


    @{
        Layout = "~/Views/Shared/_WhenWeGetMoney.cshtml";
    }


    <div ng-controller="Controller">

    <div>
        <h3>Wish List</h3>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="wish">
                <div>
                    <div method="post">
                        <div id="addWish">
                            <input ng-model="content" placeholder="Add Wish" />
                        </div>
                        <div id="wishUrl">
                            <input ng-model="wishUrl" placeholder="Add Link" />
                        </div>
                        <div id="wishPicture">
                            <input ng-model="picture" placeholder="Add Picture" />
                        </div>
                        <p>
                            {{content}} {{wishUrl}} {{picture}}
                        </p>
                         <button ng-click="createWish()">Save Wish</button>
                        <button ng-click="deleteWishes()">Delete Selected Wishes</button>

                    </div>
                </div>

              

                <table>
                    <tr>
                        <th class="text-center">Priority</th>
                        <th class="text-center">Wish</th>
                        <th class="text-center">Date Added</th>
                        <th class="text-center">Delete</th>

                    </tr>

                        @foreach (var Wish in Model)
                                {
                                    <tr>
                                        <td class="text-center">@Wish.WishPriority</td>
                                        <td class="text-center">@Wish.Content</td>
                                        <td class="text-center">@Wish.Date.ToString("MMM dd yyyy")</td>
                                        <td class="text-center"><input class="wishDeleteBtn" type="checkbox" /></td>

                                    </tr>
                                }
                  </table>
                </div>
            </div>
        </div>
    </div>

