@model IEnumerable<WhenWeGetMoney.Models.Wish>

@{
    Layout = "~/Views/Shared/_WhenWeGetMoney.cshtml";
}




<h1> When We Get Money</h1>
<div class="col-xs-12">
    <input type="text" placeholder="search" />
</div>
<div>
    Wish List
</div>