@model IEnumerable<WhenWeGetMoney.Models.Wish>

@{
    Layout = "~/Views/Shared/_WhenWeGetMoney.cshtml";
}









<h1> When We Get Money</h1>
<div class="col-xs-12">
    <input type="text" placeholder="search" />
    <div ng-controller="Controller">
        <p>{{test}}</p>
        <button ng-click="hello()">Click me!</button>
    </div>
</div>
<div>
    Wish List
</div>