@using Microsoft.AspNet.Identity
@model IEnumerable<WhenWeGetMoney.Models.Family>



@{
    Layout = "~/Views/Shared/_WhenWeGetMoney.cshtml";
}

<div ng-controller="Controller">


    <h1>Available $</h1>
    <h3 id="familyName">@ViewBag.Name</h3>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="MoneyPot">
                <div id="currentBalance">@ViewBag.Amount</div>
                <div>
                    <input ng-model="DollarAmount" id="addDollarAmount" placeholder="Amount" />
                </div>
                {{DollarAmount}}
                <button ng-click="createOrUpdateFamily()">Update Amount</button>
                <button ng-click="addMoneyToFamily()">Add</button>
                <button ng-click="subtractMoneyFromFamily()">Subtract</button>
            </div>
        </div>
    </div>
</div>
